*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;


}

#box1{
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    position: relative;
    
}

#box2{
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    position: relative;
    
}

#box3{
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    position: relative;
    
}

.content {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 3rem;
}

span{
    text-align: center;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.button{
    border-radius: 50%;
    background-color: white;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
    color: black;
    text-decoration: none;
    vertical-align: middle;
 
}

.button:hover {
    box-shadow: 1px 7px 3px rgba(0, 0, 0, .5);
}

.box_button {
position: fixed;
left: 85%;
top:5%;
padding: 1rem;
}

button:hover{

}